.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4a7b7d;
    z-index: 2;
  }
  &__body {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__list {
    display: flex;
    position: relative;
    z-index: 2;
    li {
      margin: 0 20px 0 0;
    }
  }
  &__link {
    color: #313131;
    font-family: "Lato-Bold", sans-serif;
    text-transform: uppercase;
    transition: all .2s linear;
    &:hover {
      color: #cecece;
    }
  }
  &__burger {
    display: none;
  }
  @media (max-width: 768px) {
    &__body {
      height: 40px;
    }
    &__menu {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #4a7b7d;
      padding: 70px 0 0 30px;
      transform: translateY(-100%);
      transition: .3s linear;
      &.active {
        transform: translateY(0);
      }
    }
    &__list {
      display: block;
      li {
        margin: 20px 0 0 0;
      }
    }
    &__burger {
      display: block;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
      left: 10px;
      &::before, &::after {
        content: '';
        background: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition:all .3s linear;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        background: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .3s linear;
      }
      &.active {
        span {
          display: none;
        }
        &::before {
          top: 9px;
          transform: rotate(45deg);
        }
        &::after {
          bottom: 9px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}