$fontFamily: 'Lato', sans-serif;
@import "./reset.scss";
@import "./normalize.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

h1, h2, h3 {
  font-family:"Lato-Bold", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 50px;
  box-sizing: border-box;
}

.page__title {
  color: #1b1e21;
  font-family:"Lato-Bold", sans-serif;
  margin: 20px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.userInfo {
  div {
    margin: 10px;
  }
}

.card__title {
  font-weight: bold;
  color: #2e2e2e;
}

.card__subtitle{
  font-weight: bold;
  color: #3d6767;
}

.card__link {
  transition: all .08s linear;
  &:hover {
    color: #4f8585;
  }
}

.gallery__header {
  text-align: center;
  font-family:"Lato-Bold", sans-serif;
  margin: 20px 0;
}

.item-gallery {
  margin: 20px 0;
  &__title {
    text-align: center;
    font-family:"Lato-Bold", sans-serif;
    color: #1b1e21;
  }
  &__img {
    position: relative;
    padding: 60% 0 0 0;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.modalImg {
  max-width: 600px;
  &__image-container {
    position: relative;
    padding: 100% 0 0 0;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}


.formAuth {
  max-width: 400px;
  margin: 30px 0;
  &__title {
    font-family:"Lato-Bold", sans-serif;
    color: #1b1e21;
    margin: 20px 0;
  }
  label {
    font-family:"Lato-Bold", sans-serif;
    color: #1b1e21;
    text-transform: capitalize;
  }
  .error_hide {
    display: none;
  }
  .error_show {
    color: red !important;
    margin: 20px 0;
    display: block;
  }
}

.logout {
  color: #0c5460;
  cursor: pointer;
}
